@font-face {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
