.container {
  overflow: scroll !important;

  ul {
    list-style: disc;
    list-style-position: inside;
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  :global(.rsw-ce) {
    height: fit-content;
    min-height: 80%;
  }

  :global(.rsw-toolbar) {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
